<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Components - Bootstrap sandbox</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    
    <div class="container">
        
        <h1 class="mb-5">Alerts</h1>

        <p>Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the eight <strong>required</strong> contextual classes (e.g., <code>.alert-success</code>). For inline dismissal, use the <a href="#dismissing">alerts jQuery plugin</a>.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;div class="<span class="text-warning">alert alert-primary</span>" role="alert"&gt;
  A simple primary alert—check it out!
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
            A simple secondary alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
        </div>
        <div class="alert alert-light" role="alert">
            A simple light alert—check it out!
        </div>
        <div class="alert alert-dark" role="alert">
            A simple dark alert—check it out!
        </div>

        <div class="px-3 py-2 mb-3" style="border: 1px solid rgba(0,0,0,.2); border-left: 5px solid var(--warning);">
            <h5>Conveying meaning to assistive technologies</h5>
            Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as additional text hidden with the <code>.sr-only</code> class.
        </div>

        <hr>

        <h3>Link color</h3>
        <p>Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;div class="alert alert-primary" role="alert"&gt;
  A simple primary alert with &lt;a href="#" class="<span class="text-warning">alert-link</span>"&gt;an example link&lt;/a&gt;. Give it a click if you like.
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="alert alert-primary" role="alert">
            A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-secondary" role="alert">
            A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-success" role="alert">
            A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-danger" role="alert">
            A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-warning" role="alert">
            A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-info" role="alert">
            A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-light" role="alert">
            A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
        <div class="alert alert-dark" role="alert">
            A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>

        <hr>

        <h3>Additional content</h3>
        <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;div class="alert alert-success" role="alert"&gt;
  &lt;h4 class="<span class="text-warning">alert-heading</span>"&gt;Well done!&lt;/h4&gt;
  &lt;p&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
  &lt;hr&gt;
  &lt;p class="mb-0"&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr class="my-3">
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>

        <hr>

        <h3 id="dismissing">Dismissing</h3>
        <p>Using the alert JavaScript plugin, it’s possible to dismiss any alert inline. Here’s how:</p>
        <ul>
            <li>Be sure you’ve loaded the alert plugin, or the compiled Bootstrap JavaScript.</li>
            <li>If you’re building our JavaScript from source, it requires util.js. The compiled version includes this.</li>
            <li>Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding to the right of the alert and positions the <code>.close</code> button.</li>
            <li>On the dismiss button, add the <code>data-dismiss="alert"</code> attribute, which triggers the JavaScript functionality. Be sure to use the <code>&lt;button&gt;</code> element with it for proper behavior across all devices.</li>
            <li>To animate alerts when dismissing them, be sure to add the <code>.fade</code> and <code>.show</code> classes.</li>
        </ul>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;div class="alert alert-warning <span class="text-warning">alert-dismissible fade show</span>" role="alert"&gt;
  &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
  &lt;button type="button" class="<span class="text-warning">close</span>" data-dismiss="<span class="text-warning">alert</span>" aria-label="Close"&gt;
    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <hr>

        <h2>JavaScript behavior</h2>
        <h3>Triggers</h3>

        <p>Enable dismissal of an alert via JavaScript:</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
--><span class="text-warning">$('.alert').alert()</span><!--
            --></code>
        </div>
        <p><strong>OR</strong></p>
        <p>with <code>data</code> attributes on a button <strong>within the alert</strong>, as demonstrated above:</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="close" <span class="text-warning">data-dismiss="alert"</span> aria-label="Close"&gt;
  &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
&lt;/button&gt;<!--
            --></code>
        </div>
        <p>Note that closing an alert will remove it from the DOM.</p>

        <hr>

        <h3 class="mb-3">Methods</h3>
        <div class="row">
            <div class="col-12 col-md-3 d-none d-md-block">
                <h5>Method</h5>
            </div>
            <div class="col-12 col-md-9 d-none d-md-block">
                <h5>Description</h5>
            </div>
            <div class="col-12 col-md-3">
                <code>$().alert()</code>
            </div>
            <div class="col-12 col-md-9">
                <p>Makes an alert listen for click events on descendant elements which have the <code>data-dismiss="alert"</code> attribute. (Not necessary when using the data-api’s auto-initialization.)</p>
            </div>
            <div class="col-12 col-md-3">
                <code>$().alert('close')</code>
            </div>
            <div class="col-12 col-md-9">
                <p>Closes an alert by removing it from the DOM. If the <code>.fade</code> and <code>.show</code> classes are present on the element, the alert will fade out before it is removed.</p>
            </div>
            <div class="col-12 col-md-3">
                <code>$().alert('dispose')</code>
            </div>
            <div class="col-12 col-md-9">
                <p>Destroys an element’s alert.</p>
            </div>
        </div>

        <hr>

        <h3>Events</h3>
        <p>Bootstrap’s alert plugin exposes a few events for hooking into alert functionality.</p>
        <div class="row">
            <div class="col-12 col-md-3 d-none d-md-block">
                <h5>Event</h5>
            </div>
            <div class="col-12 col-md-9 d-none d-md-block">
                <h5>Description</h5>
            </div>
            <div class="col-12 col-md-3">
                <code>close.bs.alert</code>
            </div>
            <div class="col-12 col-md-9">
                <p>This event fires immediately when the <code>close</code> instance method is called.</p>
            </div>
            <div class="col-12 col-md-3">
                <code>closed.bs.alert</code>
            </div>
            <div class="col-12 col-md-9">
                <p>This event is fired when the alert has been closed (will wait for CSS transitions to complete).</p>
            </div>
        </div>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->$('#myAlert').on('<span class="text-warning">closed.bs.alert</span>', function () {
  // do something…
})<!--
            --></code>
        </div>

    </div>

    <hr>

<!-- jQuery slim & Bootstrap bundle (bootstrap + popper) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

</body>
</html>