<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Components - Bootstrap sandbox</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    
    <div class="container">
        
        <h1 class="mb-5">Buttons</h1>

        <p>Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="<span class="text-warning">btn btn-primary</span>"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-secondary</span>"&gt;Secondary&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-success</span>"&gt;Success&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-danger</span>"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-warning</span>"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-info</span>"&gt;Info&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-light</span>"&gt;Light&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-dark</span>"&gt;Dark&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-link</span>"&gt;Link&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
        <div class="px-3 py-2 my-3" style="border: 1px solid rgba(0,0,0,.2); border-left: 5px solid var(--warning);">
            <h5>Conveying meaning to assistive technologies</h5>
            Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as additional text hidden with the <code>.sr-only</code> class.
        </div>

        <hr>

        <h3>Button tags</h3>
        <p>The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element. However, you can also use these classes on <code>&lt;a&gt;</code> or <code>&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering).</p>
        <p>When using button classes on <code>&lt;a&gt;</code> elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a <code>role="button"</code> to appropriately convey their purpose to assistive technologies such as screen readers.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;a class="<span class="text-warning">btn btn-primary</span>" href="#" role="<span class="text-warning">button</span>"&gt;Link&lt;/a&gt;
&lt;button class="<span class="text-warning">btn btn-primary</span>" type="<span class="text-warning">submit</span>"&gt;Button&lt;/button&gt;
&lt;input class="<span class="text-warning">btn btn-primary</span>" type="<span class="text-warning">button</span>" value="Input"&gt;
&lt;input class="<span class="text-warning">btn btn-primary</span>" type="<span class="text-warning">submit</span>" value="Submit"&gt;
&lt;input class="<span class="text-warning">btn btn-primary</span>" type="<span class="text-warning">reset</span>" value="Reset"&gt;<!--
            --></code>
        </div>
        <a class="btn btn-primary" href="#" role="button">Link</a>
        <button class="btn btn-primary" type="submit">Button</button>
        <input class="btn btn-primary" type="button" value="Input">
        <input class="btn btn-primary" type="submit" value="Submit">
        <input class="btn btn-primary" type="reset" value="Reset">

        <hr>

        <h3>Outline buttons</h3>
        <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="<span class="text-warning">btn btn-outline-primary</span>"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-secondary</span>"&gt;Secondary&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-success</span>"&gt;Success&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-danger</span>"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-warning</span>"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-info</span>"&gt;Info&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-light</span>"&gt;Light&lt;/button&gt;
&lt;button type="button" class="<span class="text-warning">btn btn-outline-dark</span>"&gt;Dark&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <hr>

        <h3>Sizes</h3>
        <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="btn btn-primary <span class="text-warning">btn-lg</span>"&gt;Large button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary <span class="text-warning">btn-lg</span>"&gt;Large button&lt;/button&gt;
&lt;button type="button" class="btn btn-primary <span class="text-warning">btn-sm</span>"&gt;Small button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary <span class="text-warning">btn-sm</span>"&gt;Small button&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
        <p class="mt-3">Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="btn btn-primary btn-lg <span class="text-warning">btn-block</span>"&gt;Block level button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary btn-lg <span class="text-warning">btn-block</span>"&gt;Block level button&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>

        <hr>

        <h3>Active state</h3>
        <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. <strong>There’s no need to add a class to <code>&lt;button&gt;</code>s as they use a pseudo-class</strong>. However, you can still force the same active appearance with <code>.active</code> (and include the <code>aria-pressed="true"</code> attribute) should you need to replicate the state programmatically.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;a href="#" class="btn btn-primary btn-lg <span class="text-warning">active</span>" role="button" <span class="text-warning">aria-pressed="true"</span>&gt;Primary link&lt;/a&gt;
&lt;a href="#" class="btn btn-secondary btn-lg <span class="text-warning">active</span>" role="button" <span class="text-warning">aria-pressed="true"</span>&gt;Link&lt;/a&gt;<!--
            --></code>
        </div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>

        <hr>

        <h3>Disabled state</h3>
        <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any <code>&lt;button&gt;</code> element.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="btn btn-lg btn-primary" <span class="text-warning">disabled</span>&gt;Primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary btn-lg" <span class="text-warning">disabled</span>&gt;Button&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
        <p class="mt-3"><code>&lt;a&gt;</code>s don’t support the disabled attribute, so you must add the <code>.disabled</code> class to make it visually appear disabled. Disabled buttons (<code>&lt;a&gt;</code>s) should include the <code>aria-disabled="true"</code> attribute to indicate the state of the element to assistive technologies.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;a href="#" class="btn btn-primary btn-lg <span class="text-warning">disabled</span>" <span class="text-warning">tabindex="-1"</span> role="button" <span class="text-warning">aria-disabled="true"</span>&gt;Primary link&lt;/a&gt;
&lt;a href="#" class="btn btn-secondary btn-lg <span class="text-warning">disabled</span>" <span class="text-warning">tabindex="-1"</span> role="button" <span class="text-warning">aria-disabled="true"</span>&gt;Link&lt;/a&gt;<!--
            --></code>
        </div>
        <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Primary link</a>
        <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Link</a>
        <div class="px-3 py-2 my-3" style="border: 1px solid rgba(0,0,0,.2); border-left: 5px solid var(--warning);">
            <h5>Link functionality caveat</h5>
            The <code>.disabled</code> class uses <code>pointer-events: none</code> to try to disable the link functionality of <code>&lt;a&gt;</code>s, but that CSS property is not yet standardized. In addition, even in browsers that do support <code>pointer-events: none</code>, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, add a <code>tabindex="-1"</code> attribute on these links (to prevent them from receiving keyboard focus) and use custom JavaScript to disable their functionality.
        </div>

        <hr>

        <h2 id="button-plugin">Button plugin</h2>
        <p>Do more with buttons. Control button states or create groups of buttons for more components like toolbars.</p>
        <h3>Toggle states</h3>
        <p>Add <code>data-toggle="button"</code> to toggle a button’s <code>active</code> state. If you’re pre-toggling a button, you must manually add the <code>.active</code> class <strong>and</strong> <code>aria-pressed="true"</code> to the <code>&lt;button&gt;</code>.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;button type="button" class="btn btn-primary" <span class="text-warning">data-toggle="button" aria-pressed="false"</span> autocomplete="off"&gt;
  Single toggle
&lt;/button&gt;<!--
            --></code>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"><!--  autocomplete="off" -->
            Single toggle
        </button>

        <hr>

        <h3>Checkbox and radio buttons</h3>
        <p>Bootstrap’s <code>.button</code> styles can be applied to other elements, such as <code>&lt;label&gt;</code>s, to provide checkbox or radio style button toggling. Add <code>data-toggle="buttons"</code> to a <code>.btn-group</code> containing those modified buttons to enable their toggling behavior via JavaScript and add <code>.btn-group-toggle</code> to style the <code>&lt;input&gt;</code>s within your buttons. <strong>Note that you can create single input-powered buttons or groups of them</strong>.</p>
        <p>The checked state for these buttons is <strong>only updated via <code>click</code> event</strong> on the button. If you use another method to update the input—e.g., with <code>&lt;input type="reset"&gt;</code> or by manually applying the input’s <code>checked</code> property—you’ll need to toggle <code>.active</code> on the <code>&lt;label&gt;</code> manually.</p>
        <p>Note that pre-checked buttons require you to manually add the <code>.active</code> class to the input’s <code>&lt;label&gt;</code>.</p>
        <div class="bg-dark p-3 mb-3">
            <code class="pre-wrap"><!--
-->&lt;div class="<span class="text-warning">btn-group-toggle</span>" <span class="text-warning">data-toggle="buttons"</span>&gt;
  &lt;label class="btn <span class="text-warning">btn-secondary active</span>"&gt;
    &lt;input type="checkbox" checked autocomplete="off"&gt; Checked
  &lt;/label&gt;
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="checkbox" checked autocomplete="off"> Checked
            </label>
        </div>
        <div class="bg-dark p-3 my-3">
            <code class="pre-wrap"><!--
-->&lt;div class="<span class="text-warning">btn-group btn-group-toggle</span>" <span class="text-warning">data-toggle="buttons"</span>&gt;
  &lt;label class="<span class="text-warning">btn btn-secondary</span> active"&gt;
    &lt;input type="radio" name="options" id="option1" autocomplete="off" checked&gt; Active
  &lt;/label&gt;
  &lt;label class="<span class="text-warning">btn btn-secondary</span>"&gt;
    &lt;input type="radio" name="options" id="option2" autocomplete="off"&gt; Radio
  &lt;/label&gt;
  &lt;label class="<span class="text-warning">btn btn-secondary</span>"&gt;
    &lt;input type="radio" name="options" id="option3" autocomplete="off"&gt; Radio
  &lt;/label&gt;
&lt;/div&gt;<!--
            --></code>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
            </label>
        </div>

        <hr>

        <h3>Methods</h3>
        <div class="row">
            <div class="col-12 col-md-3 d-none d-md-block">
                <h5>Method</h5>
            </div>
            <div class="col-12 col-md-9 d-none d-md-block">
                <h5>Description</h5>
            </div>
            <div class="col-12 col-md-3">
                <code>$().button('toggle')</code>
            </div>
            <div class="col-12 col-md-9">
                <p>Toggles push state. Gives the button the appearance that it has been activated.</p>
            </div>
            <div class="col-12 col-md-3">
                <code>$().button('dispose')</code>
            </div>
            <div class="col-12 col-md-9">
                <p>Destroys an element’s button.</p>
            </div>
        </div>

    </div>

    <hr>

<!-- jQuery slim & Bootstrap bundle (bootstrap + popper) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

</body>
</html>